html {
  //height: 100vw;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  .container {
    width: 1200px;
    height: 100%;
    border: 1px solid #006973;
    box-shadow: 0 0 5px #00808c;
    padding: 100px;
    background-color: white;
  }

  #header {
    .navbar-brand-title {
      font-family: 'Amiri', serif;
    }
  }

  #main-content {
    font-family: 'Fira Sans', 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 2;
    background-color: $primary-color;
    min-height: 606px;
    height: 100%;

    h1 {
      font-size: 25px;
      a {
        color: $primary-color;
      }
    }
  }

  #footer {
    background-color: $primary-color;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    a {
      color: white;
    }
  }

  .icon {
    color: white;
    padding: 10px;
  }
}

