body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  //height:100%;

  .container {
    border: 1px solid #006973;
    border-top: none;
    box-shadow: 0 0 5px #00808c;
    padding: 7%;
    background-color: white;
    min-height: calc(100vh - 102px - 128px);
  }

  #header {
    height: 102px;
    .navbar-brand-title {
      font-family: 'Amiri', serif;
    }
  }

  #main-content {
    color: $dark-gray;
    font-family: 'Fira Sans', 'Open Sans', sans-serif;
    line-height: 2;
    background-color: $primary-color;
    .title {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    h1 {
      font-size: 25px;
      a {
        color: $primary-color;
      }
    }
  }

  #footer {
    height: 128px;
    background-color: $primary-color;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    a {
      color: white;
    }
  }

  .icon {
    color: white;
    padding: 10px;
  }
}

@media (min-width: $screen-sm-min) {
  body {
    font-size: 16px !important;
  }
}

@media (min-width: $screen-lg-min) {
  body, html {
    .container {
      width: 1200px;
    }
  }
}

