body, html {
  padding: 0;
  margin: 0;
  width: 100%;

  .container {
    //border-top: 1px solid #006973;
    //border-top: none;
    //box-shadow: 0 0 5px #00808c;
    padding: 7%;
    //background-color: $lighter-gray;
    //box-shadow: inset 0 0 20px 2px $darker-gray;
    min-height: calc(100vh - 101px - 128px);
  }

  #header {
    height: 101px;
  }

  #main-content {
    color: black;
    font-family: 'Fira Sans', 'Open Sans', sans-serif;
    line-height: 2;
    //background-color: $darker-gray;
    .title {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    h1 {
      font-size: 25px;
    }
  }

  #footer {
    height: 128px;
    background-color: $secondary-color;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    a {
      color: white;
    }
  }

  .icon {
    color: white;
    padding: 10px;
  }

  h1, h2, h3, h1 > a, h2 > a {
    color: $secondary-color;
  }
}

@media (min-width: $screen-sm-min) {
  body {
    font-size: 16px !important;
  }
}

@media (min-width: $screen-lg-min) {
  body, html {
    .container {
      width: 1200px;
    }
  }
}

