#home-page {
  .home-banner {
    position: relative;
    min-height: 350px;
    //margin-top: -1%;
    color: white;
    img {
      width: 100%;
      height: 350px;
    }
    .banner-info {
      position: absolute;
      bottom: 0;
      top: 0;
      padding: 7% 10%;
      font-size: 20px;
      //font-style: italic;
      width: 100%;
      background: rgba(255,255,255, 0.9);

      //background: rgba(114,192,44, 0.8);
      h3 {
        font-size: 40px;
        font-family: 'Amiri', serif;
        font-weight: bold;
        color: $secondary-color;
        text-align: justify;
        line-height: 2;
      }
    }
  }
  .main-sections {
    .col-md-4 {
      padding-right: 5%;
    }
  }
}