
#header {
  .navbar.navbar-fixed-top {
    background-color: $darker-gray;
    margin-bottom: 0;
    .row {
      margin-right: 20px;
    }
    .navbar-header {
      width: 100%;
      .navbar-brand {
        padding-top: 25px;
        height: 100px;
        img {
          max-width: 180px;
        }
      }
      .navbar-toggle {
        border: 1px solid $light-gray;
        margin-right: 0;
        margin-top: 30px;
        margin-left: 30px;
        .icon-bar {
          background-color: $light-gray;
        }
      }
      .header-title-wrapper {
        line-height: 1;
        font-weight: bold;
        .navbar-brand-title {
          font-size: 30px;
          padding-top: 30px;
          color: $primary-color;
          @media (max-width: $screen-xs-max) {
            font-size: 16px;
          }
        }
        .navbar-brand-sub-title {
          color: $light-gray;
          @media (max-width: $screen-xs-max) {
            font-size: 12px;
          }
        }
      }
    }

    #navbar2 {
      .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: $darker-gray;
      }
      li {
        margin-top: 25px;
        a {
          color: $light-gray;
        }
        a:hover {
          color: white;
          background-color: $darker-gray;
        }
        &.active {
          a {
            color: white;
            background-color: $primary-color;
            border-radius: 10px;
            font-weight: bold;
          }
        }
      }
      .dropdown-menu {
        background-color: $darker-gray;
        li {
          margin: 15px;
        }
      }
    }
  }
}