
#header {
  .navbar.navbar-fixed-top {
    //background-color: $nav-background;
    background: $blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $blue , $green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $blue , $green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $blue , $green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $blue , $green); /* Standard syntax */
    //background-image: url("images/nav.png");
    //background-repeat: no-repeat;
    margin-bottom: 0;
    box-shadow: 0 7px 10px -6px $secondary-color;
    .row {
      margin-right: 20px;
    }
    .navbar-header {
      width: 100%;
      .navbar-brand {
        padding-top: 25px;
        height: 100px;
        img {
          max-width: 130px;
        }
      }
      .navbar-toggle {
        border: 1px solid $darker-gray;
        margin-right: 0;
        margin-top: 30px;
        margin-left: 30px;
        .icon-bar {
          background-color: $darker-gray;
        }
      }
      .header-title-wrapper {
        line-height: 1;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        .navbar-brand-title {
          font-size: 30px;
          font-weight: bold;
          padding-top: 30px;
          @media (max-width: $screen-xs-max) {
            font-size: 16px;
          }
        }
        .navbar-brand-sub-title {
          font-size: 20px;
          @media (max-width: $screen-xs-max) {
            font-size: 12px;
          }
        }
      }
    }

    #navbar2 {
      .nav > li > a:hover, .nav > li > a:focus, .dropdown-menu > li > a:hover  {
        background: none;
      }
      .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        //background-color: $nav-background;
        background: none;
      }
      li {
        margin-top: 25px;
        a {
          color: white;
        }
        a:hover {
          color: white;
          //background-color: $nav-background;
          text-decoration: underline;
        }
        &.active > a {
          color: white;
        }
        &.active {
          a {
            //background-color: $nav-background;
            //border-radius: 10px;
            font-weight: bold;
          }
        }
      }
      .dropdown-menu {
        //background-color: $nav-background;
        background: $blue; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, $blue , $green); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, $blue , $green); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, $blue , $green); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, $blue , $green); /* Standard syntax */
        min-width: 320px;
        li {
          margin: 15px;
        }
      }
      .dropdown-submenu {
        position: relative;
      }
      .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
      }
    }
  }
}