#services, #contact {
  .home-banner {
    position: relative;
    min-height: 100px;
    //background-image: url("images/services3.jpg");
    //background-repeat: repeat-x;
    background-color: white;
    box-shadow: 0 7px 10px -6px $secondary-color;

    color: white;
    img {
      width: 100%;
      height: 100px;
    }
    .banner-info {
      font-size: 25px;
      position: absolute;
      bottom: 0;
      top: 0;
      text-align: center;
      padding-top: 1%;
      width: 100%;
      //background: rgba(0, 0, 0, 0.7);
    }
  }
}