
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$primary-color: #222;
$yellow: #FAD73C;
$blue: #1CB2C3;
$red: #EC3C5B;
//$green: #84CC39;
$green: #72C02C;
$orange: #F8A647;
$secondary-color: $green;
$nav-background: white;

$darker-gray: #222222;
$dark-gray: #6D6B6F;
$light-gray: #DDD;
$lighter-gray: #F4F4F4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;


$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-lg-min: 1200px;